services:
  mailhog:
    container_name: mailpit
    image: ${WARDEN_IMAGE_REPOSITORY:-mailhog}/mailhog:1.0
    labels:
      - traefik.enable=true
      - traefik.http.routers.mailhog.tls=true
      - traefik.http.routers.mailhog.rule=Host(`mailhog.${WARDEN_SERVICE_DOMAIN:-warden.test}`)
      - traefik.http.routers.mailhog.entrypoints=https
      - traefik.http.services.mailhog.loadbalancer.server.port=8025
      # HTTP router (redirect to HTTPS)
      - traefik.http.routers.mailhog-http.rule=Host(`dnsmasq.${WARDEN_SERVICE_DOMAIN:-warden.test}`)
      - traefik.http.routers.mailhog-http.entrypoints=http
      - traefik.http.routers.mailhog-http.middlewares=traefik-redirect-https
      - traefik.http.routers.mailhog-http.service=noop@internal
    restart: ${WARDEN_RESTART_POLICY:-always}
